/* font colors */
html, body {
  font-family: "Roboto Condensed", sans-serif;
  height: 100%;
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  color: #25CED1; }

button {
  margin: 1rem 0 2rem 0; }

/* xs and smaller */
